<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Tutorial</title>
    <script type='text/javascript' src='../angular/angular.js'></script>
    <script type='text/javascript' src='define.js'></script>
</head>
</body>

<div ng-app="methApp">

    <div ng-controller="umCtrl">
        <input type="text" ng-model="d.msg">
        <h1>{{d.msg}}</h1>
    </div>

    <div ng-controller="doisCtrl">
        <input type="text" ng-model="d2.msg" placeholder="{{d.msg}}">
        <h1>{{reverse()}}</h1>
        <h1>{{reverse(d2.msg)}}</h1>
    </div>
</div>

<script type="text/javascript" src="../angular/angular.js"></script>
</body>
</html>

