<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Tutorial</title>
    <script type='text/javascript' src='../angular/angular.js'></script>
    <script type='text/javascript' src='filters.js'></script>
</head>
</body>

<div ng-app="filterApp">

    <span>Controlador 1</span>
    <div ng-controller="umCtrl">
        <input type="text" ng-model="d.msg" size=30>
        <h1>{{d.msg}}</h1>
    </div>
    <hr><br>
    <span>Controlador 2</span>
    <div ng-controller="doisCtrl">
        <!-- aqui para mostrar a comunicacao entre diferentes escopos -->
        <h1>{{d.msg | reverso}}</h1>
        <hr width=50% align=left>
        <input type="text" ng-model="d2.msg" placeholder="{{d.msg}}" size=30>
        <!-- E aqui o uso do filtro -->
        <h1>{{d2.msg|verso}}</h1>
        <h1>{{d2.msg}}</h1>
        <h1>{{d2.msg|reverso}}</h1>
    </div>
</div>

<script type="text/javascript" src="../angular/angular.js"></script>
</body>
</html>

